<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249371770934-7023asvbgcgkf3e5tpk15dlh0nn2jlso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249371770934-7023asvbgcgkf3e5tpk15dlh0nn2jlso</string>
	<key>API_KEY</key>
	<string>AIzaSyB_OVScadNeQmY-4vySTT2IQY8akc7RPpg</string>
	<key>GCM_SENDER_ID</key>
	<string>249371770934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KuCelebrates.mobile</string>
	<key>PROJECT_ID</key>
	<string>love-counter-9456d</string>
	<key>STORAGE_BUCKET</key>
	<string>love-counter-9456d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249371770934:ios:cc792932959ff368c25897</string>
</dict>
</plist>